.dashboard {
  margin: $space-81 auto;
  width: 20.4375rem;
  display: flex;
  flex-direction: column;
  gap: $space-24;
}

@media (min-width: $breakpoint-tablet) {
  .dashboard {
    margin: $space-173 auto;
    width: 38.25rem;
  }
}
