.tracker {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 10rem;
  border-radius: 0.938rem;

  &--work {
    background: $orange-300;

    .tracker__icon {
      top: -0.682rem;
      right: 1.089rem;
    }
  }

  &--play {
    background: $blue-300;

    .tracker__icon {
      top: -0.9rem;
      right: 0.688rem;
    }
  }

  &--study {
    background: $pink-400;

    .tracker__icon {
      top: -0.378rem;
      right: 1.067rem;
    }
  }

  &--exercise {
    background: $green-400;

    .tracker__icon {
      top: -0.026rem;
      right: 1.101rem;
    }
  }

  &--social {
    background: $purple-700;

    .tracker__icon {
      top: -0.938rem;
      right: 0.843rem;
    }
  }

  &--care {
    background: $yellow-300;

    .tracker__icon {
      top: -1.174rem;
      right: 0.451rem;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;

    &--container {
      position: relative;
      height: 2.375rem;
      width: 100%;
      overflow: hidden;
    }
  }

  &__info {
    height: 7.625rem;
    width: 20.438rem;
    background: $navy-900;
    border-radius: 0.75rem;
    z-index: 2;
  }
}
