.tracker {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 10rem;
  border-radius: 0.938rem;

  &--work {
    background: $orange-300;

    .tracker__icon {
      top: -0.682rem;
      right: 1.089rem;
    }
  }

  &--play {
    background: $blue-300;

    .tracker__icon {
      top: -0.9rem;
      right: 0.688rem;
    }
  }

  &--study {
    background: $pink-400;

    .tracker__icon {
      top: -0.378rem;
      right: 1.067rem;
    }
  }

  &--exercise {
    background: $green-400;

    .tracker__icon {
      top: -0.026rem;
      right: 1.101rem;
    }
  }

  &--social {
    background: $purple-700;

    .tracker__icon {
      top: -0.938rem;
      right: 0.843rem;
    }
  }

  &--care {
    background: $yellow-300;

    .tracker__icon {
      top: -1.174rem;
      right: 0.451rem;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;

    &--container {
      position: relative;
      height: 2.375rem;
      width: 100%;
      overflow: hidden;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: 7.625rem;
    width: 20.438rem;
    padding: $space-27-5 $space-24;
    background: $navy-900;
    border-radius: 0.75rem;
    z-index: 2;
  }

  &__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: $space-8;
  }

  &__title {
    line-height: 1.313rem;
    color: $white;
    font-size: $text-18;
    font-weight: $font-medium;
  }

  &__time {
    line-height: 2.375rem;
    color: $white;
    font-size: $text-32;
    font-weight: $font-light;
  }

  &__previous {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__last {
    line-height: 1.125rem;
    color: $navy-200;
    font-size: $text-15;
  }
}

@media (min-width: $breakpoint-tablet) {
  .tracker {
    justify-content: space-between;
    height: 13.313rem;
    width: 11.75rem;

    &--work {
      .tracker__icon {
        top: -0.502rem;
        right: 0.807rem;
      }
    }

    &--play {
      .tracker__icon {
        top: -0.663rem;
        right: 0.509rem;
      }
    }

    &--study {
      .tracker__icon {
        top: -0.28rem;
        right: 0.786rem;
      }
    }

    &--exercise {
      .tracker__icon {
        top: -0.019rem;
        right: 0.816rem;
      }
    }

    &--social {
      .tracker__icon {
        top: -0.691rem;
        right: 0.623rem;
      }
    }

    &--care {
      .tracker__icon {
        top: -0.866rem;
        right: 0.332rem;
      }
    }

    &__icon--container {
      height: 2.063rem;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      height: 11.25rem;
      width: 11.75rem;
      padding: $space-25-5 $space-21-5;
    }

    &__time {
      line-height: 4.125rem;
      font-size: $text-56;
    }

    &__previous {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $space-8;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .tracker {
    height: 15.25rem;
    width: 15.938rem;

    &--work {
      .tracker__icon {
        top: -0.682rem;
        right: 1.089rem;
      }
    }

    &--play {
      .tracker__icon {
        top: -0.9rem;
        right: 0.688rem;
      }
    }

    &--study {
      .tracker__icon {
        top: -0.378rem;
        right: 1.067rem;
      }
    }

    &--exercise {
      .tracker__icon {
        top: -0.026rem;
        right: 1.101rem;
      }
    }

    &--social {
      .tracker__icon {
        top: -0.938rem;
        right: 0.843rem;
      }
    }

    &--care {
      .tracker__icon {
        top: -1.174rem;
        right: 0.451rem;
      }
    }

    &__icon--container {
      height: 2.813rem;
    }

    &__info {
      height: 12.438rem;
      width: 15.938rem;
      padding: $space-31 $space-30;
    }
  }
}
